.fee-img{
  cursor: pointer;
}
.fee-mask{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: -10;
  overflow: hidden;
  transition: background-color 0.1s;
  -webkit-transform: transition3d(0,0,0);
}
.fee-mask .fee-wrapper{
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  /* background-color: #ececec; */
  -webkit-transform: transition3d(0,0,0);
}